@import 'styles.scss';

.NFT-search-container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;

    @include respond-below(sm) {
      gap: 10px;
      justify-content: space-between;
    }

    app-nftcard {
      $ratio: 1.29411765;
      $defautWidth: 17rem;
      width: $defautWidth;
      height: calc($defautWidth * $ratio);

      @include respond-below(sm) {
        $defautWidth: 44vw;
        width: $defautWidth;
        height: calc($defautWidth * $ratio);
      }

    }
}
.noresultinfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-size: 2rem;
    color: white;
    margin-top: 3.5rem;

    .noresultinfo-icon {
        display: block;
    }

    .noresultinfo-title {
        display: block;
        @include  main-font-family;
    }
}
