@import 'styles.scss';


@function generate-positions ($n) {
    $xmaxstarposition: 2560;
    $ymaxstarposition: 2500;
    $neoneffect: '1px 1px #38d2cc';
    $value: '#{random($xmaxstarposition)}px #{random($ymaxstarposition)}px #{$neoneffect}';
    @for $i from 2 to $n {
        $value: '#{$value} , #{random($xmaxstarposition)}px #{random($ymaxstarposition)}px  #{$neoneffect}';
    }
    @return unquote($value)
}
 
@mixin million-stars($starSize, $starNum) {
    width: $starSize;
    height: $starSize;
    background: transparent;
    border-radius: 50%;
    box-shadow: generate-positions($starNum);
    animation: raisingStar 150s ease-out infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 150px;
        width: $starSize;
        height: $starSize;
        background: transparent;
        box-shadow: generate-positions($starNum);
    }
}

@keyframes raisingStar {
    from {
        transform: translateY(0px)
    }	
    to	{
        transform: translateY(-2000px)
    }	
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}

.header-container {
    background: $defaultbackgroundColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    @include box-shadow-default;

    .header-stars-background {
        @include million-stars(1px, 500);
    }

    .header-navbar-wrap {
        display: flex;
        flex-flow: row wrap;
        padding: 1rem 1rem;
        column-gap: 2rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transition: all .2s ease-in-out;

        .navbar-title {
            
            &:hover {
                animation: wiggle 2s linear;
            }
            a {
                @include main-font-family;
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 36px;
                @include main-bg-gra-color;
            }
        }

        .navbar-options {
            display: flex;
            flex-flow: row wrap;
            column-gap: 2rem;

            a {
                @include main-font-family;
                text-decoration: none;
                text-align: center;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                padding-top: 0.5rem;
                transition: all 0.4s;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }

        .navbar-search {
            margin-left: auto;
            align-self: center;
        }
    }

    .header-navbar-scroll {
        background-color: $primaryColor;
        z-index: 10;
        @include box-shadow-default;
    }

    .header-promo {
        display: flex;
        width: 100%;
        min-height: 23rem;
        padding: 0 10vw;
        justify-content: center;
        background-color: transparent;
        @include main-font-family;
        position: relative;
        margin-top: 3rem;

        .promo-left {
            max-width: 30rem;
            padding-top: 2rem;

            .first-title{
                
                span {
                    color: white;
                    font-size: 3.5rem;
                    line-height: 1.15;
                }
            }

            .second-title {
                display: block;
                font-size: 1.5rem;
                color: gray;
            }
        }

        .promo-right {
            max-width: 30rem;
            color: #FFFFFF;
            background-image: url('../../../../assets/image/promo/SpinEarth2.gif');
            background-repeat: no-repeat;
            background-position: center;
        }

        .flex-1 {
            flex: 1;
        }
    }
}

@include respond-below(sm) {
    .header-container{
        
        .header-navbar-wrap {
            flex-flow: column nowrap;
            justify-content: center;
            align-content: center;
            
            .navbar-title {
                text-align: center;
            }

            .navbar-options {
                text-align: center;
                justify-self: center;
                align-self: center;
                a {
                    padding-top: 0px;
                }
            }

            .navbar-search {
                margin-left: 0;
                margin-top: 0.5rem;
                align-self: center;
            }
        }

        .header-promo {
            padding: 0 2vw;
            min-height: 12rem;
            .promo-left {
                text-align: center;
                padding-left: 5vw;
                padding-right: 5vw;
                padding-top: 0;
                .first-title {

                    span {
                        font-size: 2rem;
                    }
                }

                .second-title {
                    font-size: 1rem;
                }
            }

            .promo-right {
                display: none;
            }
        }
    }
}

@include respond-between(sm, lg) {
    .header-container {
        
        .header-navbar-wrap {

            .navbar-search {
            }
        }

        .header-promo {
            .promo-left {
                .first-title {
                    span {
                        font-size: 4rem;
                    }
                }

                .second-title {
                     
                }
            }

            .promo-right {
                display: none;
            }
        }
    }
}

@include respond-between(lg, xl) {
    .header-container {
        .header-promo {
            .promo-left {
                .first-title {
                    span {
                        font-size: 3.5rem;
                    }
                }

                .second-title {
                    font-size: 1.2rem;
                }
            }
        }
    }
}