@import 'styles.scss';


@function generate-positions ($n) {
    $xmaxstarposition: 2560;
    $ymaxstarposition: 2500;
    $neoneffect: '1px 1px #38d2cc';
    $value: '#{random($xmaxstarposition)}px #{random($ymaxstarposition)}px #{$neoneffect}';
    @for $i from 2 to $n {
        $value: '#{$value} , #{random($xmaxstarposition)}px #{random($ymaxstarposition)}px  #{$neoneffect}';
    }
    @return unquote($value)
}
 
@mixin million-stars($starSize, $starNum) {
    width: $starSize;
    height: $starSize;
    background: transparent;
    border-radius: 50%;
    box-shadow: generate-positions($starNum);
    animation: raisingStar 150s ease-out infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 150px;
        width: $starSize;
        height: $starSize;
        background: transparent;
        box-shadow: generate-positions($starNum);
    }
}

@keyframes raisingStar {
    from {
        transform: translateY(0px)
    }	
    to	{
        transform: translateY(-2000px)
    }	
}

.header-container {
    background: $defaultbackgroundColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    .header-stars-background {
        @include million-stars(1px, 500);
    }

    .header-navbar-wrap {
        display: flex;
        flex-flow: row wrap;
        padding: 1rem 1rem;
        column-gap: 2rem;

        .navbar-title {
            
            a {
                @include main-font-family;
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 36px;
                @include main-bg-gra-color;
            }
        }

        .navbar-options {
            display: flex;
            flex-flow: row wrap;
            column-gap: 2rem;

            a {
                @include main-font-family;
                text-decoration: none;
                text-align: center;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                padding-top: 0.5rem;
                transition: all 0.4s;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }

        .navbar-search {
            margin-left: auto;
            align-self: center;
        }
    }

    .header-promo {
        display: flex;
        width: 100%;
        min-height: 23rem;
        justify-content: center;
        background-color: transparent;
        @include main-font-family;

        .promo-left {
            max-width: 600px;
            padding-top: 2rem;
            .first-title{
                
                span {
                    color: white;
                    font-size: 4rem;
                }
            }

            .second-title {
                display: block;
                font-size: 1.5rem;
                color: gray;
            }
        }

        .promo-right {
            max-width: 600px;
            color: #FFFFFF;
            background-image: url('../../../../assets/image/promo/SpinEarth2.gif');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0rem -1rem;
        }

        .flex-1 {
            flex: 1;
        }
    }
}

@include respond-below(sm) {
    .header-container{
        
        .header-navbar-wrap {
            flex-flow: column nowrap;
            justify-content: center;
            align-content: center;
            
            .navbar-title {
                text-align: center;
            }

            .navbar-options {
                text-align: center;
                justify-self: center;
                align-self: center;
                a {
                    padding-top: 0px;
                }
            }

            .navbar-search {
                margin-top: 0.5rem;
                margin-left: 0;
                align-self: center;
            }
        }
    }
}