@import 'styles.scss';

.NFTCard-container {
    $cwidth: 100%;
    $cheight: 100%;
    display: block;
    border: none;
    @include BorderRadiusFull;
    width: $cwidth;
    height: $cheight;
    cursor: pointer;
    transition: all .1s ease-out;
    @extend %box-shadow-default;
    overflow: hidden;
    position: relative;
    background-color: $buleGray;

    &:hover {
        transform: scale(1.048);
        backdrop-filter: none;
    }

    &:active {
        transform: scale(0.98);
    }

    .NFT-coin-logo {
        display: flex;
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;
        opacity: .5;
    }

    .NFT-image-container {
        overflow: hidden;
        height: calc($cheight - 6rem);
        @include respond-below(sm) {
          height: calc($cheight - 4.3rem);
        }
    }

    .NFT-content {
        position: relative;

        .NFT-title {
            width: 100%;
            display: inline-block;
            
            color: rgb(27, 27, 27);
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 5px;
            padding: 0px 10px;
            text-align: center;
            text-overflow: ellipsis;
            @include respond-below(sm) {
              font-size: smaller;
              height: 15px;
              padding: 0px 5px;
            }
        }

        .NFT-title-scroll {
            &:hover,
            &:focus {
                text-overflow: clip;

                span {
                display: inline-block;
                animation-name: scroll-text-X;
                animation-duration: 7s;
                animation-timing-function: linear;
                animation-delay: 0s;
                animation-iteration-count: infinite;
                animation-direction: normal;
                }
            }

            @keyframes scroll-text-X {
                0% {
                    transform: translateX(0%);
                }
                90% {
                    transform: translateX(-100%);
                }
                95% {
                    transform: translateX(0%);
                }
                100% {
                    transform: translateX(0%);
                }
            }
        }

        .seperate-line {
            border: 0;
            height: 1px;
            margin: 0px 10px 7px 10px;
            background-color: rgb(218, 218, 218);
        }

        .NFT-description {
            color: rgb(70, 67, 67);
            

            font-size: 5px;
            padding: 0px 10px;
            @include respond-below(sm) {
              font-size: 3px;
              padding: 0px 5px;
            }
            span {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                word-break: keep-all;
                line-height: 15px;
                @include respond-below(sm) {
                  line-height: 10px;
                }
            }
        }

        .NFT-description-scroll {
            &:hover,
            &:focus {
                text-overflow: clip;
                overflow: hidden;
                span {
                    display: inline-block;
                    animation-name: scroll-text-Y;
                    animation-duration: 7s;
                    animation-timing-function: linear;
                    animation-delay: 0s;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                }
            }

            @keyframes scroll-text-Y {
                0% {
                    transform: translateY(0%);
                }
                90% {
                    transform: translateY(-100%);
                }
                95% {
                    transform: translateY(0%);
                }
                100% {
                    transform: translateY(0%);
                }
            }
        }
    }
}

:host app-bar-loading ::ng-deep .image-loading{
    @include NFTTopBarderRadiusTopOnly;
}
