@import '../../../../core/sass/styles.scss';

.NFTCard-container {
    $borderRadius: 10px;
    display: block;
    border: none;
    border-radius: $borderRadius;
    background-color: $defaultbackgroundColor;
    width: 17rem;
    height: 22rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all .1s ease-out;
    @include box-shadow-default;
    
    &:hover {
        transform: scale(1.05);
    }

    .NFT-image-container {
        border: none;
        border-radius: $borderRadius;
        background-color: darkgray;
        width: 100%;
        height: 16rem;
        position: relative;

        .image-loading {
            $animation-duration: 1000ms;
            $size: 75px;
            $bar-color1: #3F85F6ff;
            $bar-color2: #669EF8ff;
            $bar-color3: #8CB7FAff;
            $bar-color4: #B3D0FCff;
            $bar-color5: #D9E9FEff;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            background-color: $defaultMainContentColor;
            border-radius: 5px;
            position: absolute;
            
            .loading-item {
                height: calc($size * .4);
                width: calc($size / 13);
                animation: bar-animation $animation-duration ease-in-out infinite;

                @keyframes bar-animation {
                    25% {
                        transform: scaleY(2);
                    }
                    50% {
                        transform: scaleY(1);
                    }
                }

                &:nth-child(1) {
                    background-color: $bar-color1;
                    animation-delay: calc($animation-duration / 6 * -1);
                }
                &:nth-child(2) {
                    background-color: $bar-color2;
                    animation-delay: calc($animation-duration / 6 * -2);
                }
                &:nth-child(3) {
                    background-color: $bar-color3;
                    animation-delay: calc($animation-duration / 6 * -3);
                }
                &:nth-child(4) {
                    background-color: $bar-color4;
                    animation-delay: calc($animation-duration / 6 * -4);
                }
                &:nth-child(5) {
                    background-color: $bar-color5;
                    animation-delay: calc($animation-duration / 6 * -5);
                }
            }
        }

        img, video{
            border-radius: $borderRadius;
        }
    }

    .NFT-content {
        .NFT-title {
            text-align: center;
            @include main-font-family;
            color: whitesmoke;
            font-style: oblique;
            text-overflow: ellipsis;
            white-space:nowrap;
            overflow: hidden;
            margin: 5px;
            @include main-bg-gra-color;
        }

        .seperate-line {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
            margin: 6px 10px 7px 10px;
        }

        .NFT-description {
            p {
                color: whitesmoke;
                @include main-font-family;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                font-size: 5px;
                margin: 5px 10px;
            }
        }
    }
}