<div class="NFTCard-container" @scaleFade>
    <div class="NFT-image-container">
        <img
            [attr.src]="cardObj?.cached_file_url" 
            width="100%" 
            height="100%"
            [attr.alt]="cardObj?.name"
            loading="lazy" 
        >
    </div>
    <div class="NFT-content">
        <h4 class="NFT-title">{{ cardObj?.name }}</h4>
        <hr class="seperate-line">
        <div class="NFT-description">
            {{ cardObj?.description }}
        </div>
    </div>
</div>
