@import '../../../../core/sass/styles.scss';

.NFTCard-container {
    $borderRadius: 10px;
    display: block;
    border: none;
    border-radius: $borderRadius;
    background-color: $defaultbackgroundColor;
    width: 17rem;
    height: 22rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all .1s ease-out;
    @include box-shadow-default;
    
    &:hover {
        transform: scale(1.05);
    }

    .NFT-image-container {
        border: none;
        border-radius: $borderRadius;
        background-color: darkgray;
        width: 100%;
        height: 16rem;
        position: relative;

        img, video{
            border-radius: $borderRadius;
        }
    }

    .NFT-content {
        .NFT-title {
            text-align: center;
            @include main-font-family;
            color: whitesmoke;
            font-style: oblique;
            text-overflow: ellipsis;
            white-space:nowrap;
            overflow: hidden;
            margin: 5px;
            @include main-bg-gra-color;
        }

        .seperate-line {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
            margin: 6px 10px 7px 10px;
        }

        .NFT-description {
            p {
                color: whitesmoke;
                @include main-font-family;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                font-size: 5px;
                margin: 5px 10px;
            }
        }
    }
}