<div class="NFTCard-container" @scaleFade (click)="onClickCard()">
    <div class="NFT-coin-logo" @fade>
        <img *ngIf="cardObj?.chain === chainTypes.ethereum" src="../../../../../assets/image/cryptocurrent/ethereum.png" alt="{{cardObj?.chain}}">
        <img *ngIf="cardObj?.chain === chainTypes.polygon" src="../../../../../assets/image/cryptocurrent/polygon.png" alt="{{cardObj?.chain}}">
    </div>
    <div class="NFT-image-container">
        <app-media-container [mediaObject]="mediaObject"></app-media-container>
    </div>
    <div class="NFT-content">
        <div class="NFT-title" #NFTTitle [ngClass]="{'NFT-title-scroll': titleScroll}">
            <span>{{ cardObj?.name == '' ? 'NAME NOT FOUND' : cardObj?.name }}</span>
        </div>
        <hr class="seperate-line">
        <div class="NFT-description" [ngClass]="{'NFT-description-scroll': descriptionScroll}">
            <span #NFTDescription>
                {{ cardObj?.description }}
            </span>
        </div>
        <div class="overflow-hidden"></div>
    </div>
</div>
