// common use
%box-shadow-default {
    @include custom-box-shadow(
        0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19)
    );
}

// Feature related
%defaultHeaderNavbarBackground {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    backdrop-filter: blur(20px);
}