@import 'styles.scss';

.default-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    row-gap: 4rem;
    @include main-font-family;

    @mixin default-title {
        font-size: xx-large;
        font-weight: bolder;
        color: white;

        @include respond-below(sm) {
            font-size: x-large;
        }
    }

    .defaut-width {
        max-width: $defaultMainContentMaxWidth;
    }

    .trending-NFTs {

        .trending-title {
            @include default-title;
        }
    }

    .intro-feature {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 1rem;
        align-items: center;

        .intro-title {
            @include default-title;
        }

        .card-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .intro-card {
                max-width: calc($defaultMainContentMaxWidth / 4);
                background: transparent;
                box-shadow: none;
                display: flex;
                flex-flow: column;
                align-items: center;
                color: rgb(224, 249, 255);
                row-gap: 10px;

                .card-icon {
                    font-size: xx-large;
                }

                mat-card-title {
                    font-size: medium;
                    color: rgb(1, 87, 102);
                }

                mat-card-content {
                    text-align: center;
                }
            }
        }
    }

    .promo-mobile-search {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      width: $defaultMainContentMaxWidth;
      height: 42rem;
      gap: 3rem;

      @include respond-below(md) {
        flex-flow: column-reverse nowrap;
        align-items: center;
        width: auto;
        gap: 2rem;
      }

      @include respond-below(sm) {
        margin-top: 3rem;
      }

      @mixin respond-below-lg {
        width: calc($defaultMainContentMaxWidth / 3);
      }

      .img-mobile-search {
        @include box-shadow-default;

        @include respond-below(lg) {
          @include respond-below-lg;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      .img-promo-descrition {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include respond-below(lg) {
          @include respond-below-lg;
        }

        .descrition-title {
          span {
            @include default-title;
          };
        }

        .descrition-content {
          span {
            font-size: medium;
            color: #e0f9ff;
          }
        }

        .descrition-expore {
          .mat-flat-button {
            height: 50px;
            width: 130px;
            background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
            @include box-shadow-default;
            font-size: large;
            color: white;
            transition: all .3s ease-in-out;
            
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
}
