@import 'styles.scss';

@mixin flex-one-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    justify-items: flex-end;
}
@mixin flex-half {
    flex-basis:50%;
    flex-grow: 0;
}
@mixin text-ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@mixin jsutify-item-end {
    justify-self: flex-end;
}
@mixin span-right-justify {
    span:nth-child(2) {
        @include text-ellipsis;
        @include flex-half;
        text-align: right;
        color: gray;
    }
}
@mixin detail-base {
    width: 30rem;
    height: 100rem;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
    align-content: center;
    padding: .5rem;
    background-color: transparent;
}
@keyframes scaleXForHr {
    from {
        transform: scaleX(0%);
    }
    to {
        transform: scaleX(100%);
        visibility: visible;
    }
}
@keyframes scaleYForHr {
    from {
        transform: scaleY(0%);
    }
    to {
        transform: scaleY(100%);
        visibility: visible;
    }
}
@mixin hr-slide-base {
    visibility: hidden;
}

.NFT-Detail-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 1.5rem;
    @include main-font-family;

    .Detail-left {
        @include detail-base;

        .Detail-media {
            @include box-shadow-default;
            @include NFTTopBarderRadiusTopOnly;
            overflow: hidden;

            .media-container {
                width: 100%;
                aspect-ratio: 1 / 1;
                align-self: center;
            }

            .info-bar{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-content: center;
                width: 100%;
                height: 2rem;
                padding: 2px 5px;

                .NFT-coin-logo {
                    display: flex;
                    flex-flow: row nowrap;
                    flex: 0 0 auto;
                }

                .like-icon {
                    font-size: 24px;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: rgb(235, 87, 87);
                    }
                }
            }
        }

        .Detail-contract {
            visibility: hidden;
            @include box-shadow-default;
            animation: scaleYForHr .5s ease-out .1s forwards;
            transform-origin: top;
            height: 10rem;
            width: 100%;

            .contract-title {
                text-align: center;
                padding: 5px;

                span {
                    display: block;
                    font-size: 1.3rem;
                    color: darkslategray;
                };
            }

            .contract-hr {
                overflow: visible;
                height: 20px;
                width: 90%;
                border-style: solid;
                border-color: gray;
                border-width: 1px 0 0 0;
                border-radius: 10px;
                animation: scaleXForHr .5s ease-in-out .3s forwards;
                @include hr-slide-base;

                &::before {
                    display: block;
                    content: "";
                    height: 20px;
                    margin-top: -21px;
                    border-style: solid;
                    border-color: gray;
                    border-width: 0 0 1px 0;
                    border-radius: 10px;
                }
            }

            .contract-content {
                padding: 0 20px;

                span {
                    display: block;
                    font-size: 1rem;
                    color: darkslategray;
                };

                .contract-address {
                    @include flex-one-row;
                    
                    a {
                        text-decoration: none;
                        text-align: right;
                        color: rgb(32, 129, 226);
                        @include flex-half;
                        @include jsutify-item-end;

                        &:visited, :active, :link {
                            text-decoration: none;
                        }
                    }
                }

                .contract-name {
                    @include flex-one-row;
                    @include span-right-justify;
                }

                .contract-symbol {
                    @include flex-one-row;
                    @include span-right-justify;
                }

                .contract-type {
                    @include flex-one-row;
                    @include span-right-justify;
                }
            }
        }
    }

    .Detail-right {
        @include detail-base;

        .Detail-content {
            @include box-shadow-default;
            width: 100%;
            height: 13rem;
            padding: 10px 20px;
            transform-origin: center;
            animation: scaleXForHr .3s ease-out;
            .NFT-name {
                .NFT-title {
                    display: block;
                    font-size: 20px;
                    font-weight: bold;
                    @include text-ellipsis;
                }
            }

            .NFT-owner {
                font-size: small;
                margin-top: 5px;
                span {
                    color: gray;
                }
                    
                a {
                    @include text-ellipsis;
                    text-decoration: none;
                    color: rgb(32, 129, 226);
                    @include flex-half;
                    @include jsutify-item-end;

                    &:visited, :active, :link {
                        text-decoration: none;
                    }
                }

                .inactiveLink {
                    pointer-events: none;
                    cursor: default;
                }
            }

            .NFT-description {
                width: 100%;
                height: 7rem;
                overflow-y: auto;
                overflow-x: hidden;
                scroll-behavior: smooth;

                p {
                    margin-block-start: 0;
                    margin-block-end: 0;
                }
            }
            .NFT-description::-webkit-scrollbar {
                width: 5px;
            }
            
            .NFT-description::-webkit-scrollbar-track {
                background-color: lightgray;
                border-radius: 10px;
            }
            
            .NFT-description::-webkit-scrollbar-thumb {
                background-color: gray;
                border-radius: 10px;
            }
            .description-hr-top {
                @include hr-slide-base;
                transform-origin: left;
                animation: scaleXForHr .5s ease-in-out .3s forwards;
            }
            .description-hr-bottom {
                @include hr-slide-base;
                transform-origin: right;
                animation: scaleXForHr .5s ease-in-out .3s forwards;
            }
        }
        .NFT-Pricesale {
            @include box-shadow-default;
            width: 100%;
            height: 20rem;
            padding: 10px 20px;
            position: relative;

            .current-sale {
                display: flex;
                flex-flow: row nowrap;
                gap: 10px;
            }

            .sale-chart {
                display: block;
                width: 100%;
                height: 13rem;
                padding: 10px 5px;
                overflow: hidden;
            }
        }

        .NFT-transaction {
            @include box-shadow-default;
            display: flex;
            flex-direction: column;
            height: 10rem;
            width: 100%;
            transform-origin: center;
            animation: scaleXForHr .3s ease-out;

            .transactions-table{
                flex: 1;
                min-height: 0;
                overflow: auto;
                
                table {
                    background-color: $secondaryColor;
                    height: 100%;
                    
                    .mat-column-transaction-event {
                        width: 10%;
                        text-align: center;
                    }

                    .mat-column-transaction-price {
                        width: 20%;
                        text-align: center;
                    }

                    .mat-column-transaction-from {
                        width: 20%;
                    }

                    .mat-column-transaction-to {
                        width: 20%;
                    }

                    .mat-column-transaction-date {
                        width: 30%;
                    }

                    tr.mat-header-row, tr.mat-row {
                        height: 10px;
                    }

                    .mat-row-no-data {
                        text-align: center;
                    }
                }

                mat-spinner {
                    margin:0 auto;
                }
            }

            .transactions-table::-webkit-scrollbar {
                width: 5px;
            }
            
            .transactions-table::-webkit-scrollbar-track {
                background-color: lightgray;
                border-radius: 10px;
            }
            
            .transactions-table::-webkit-scrollbar-thumb {
                background-color: gray;
                border-radius: 10px;
            }
        }
    }
}

:host app-bar-loading ::ng-deep .image-loading{
    @include NFTTopBarderRadiusTopOnly;
}