<div class="NFT-Detail-container">
    <div class="Detail-left">
        <div class="Detail-media" @scaleFade>
            <div class="media-container">
                <app-media-container [mediaObject]="mediaObject"></app-media-container>
            </div>
            <div class="info-bar">
                <div class="NFT-coin-logo">
                    <img 
                        *ngIf="NFTDetailObject?.nft?.chain === chainTypes.ethereum"
                        matTooltip="{{ chainTypes.ethereum | titlecase }}"  
                        src="../../../../../assets/image/cryptocurrent/ethereum-middle.png"
                    >
                    <img 
                        *ngIf="NFTDetailObject?.nft?.chain === chainTypes.polygon"
                        matTooltip="{{ chainTypes.polygon | titlecase }}" 
                        src="../../../../../assets/image/cryptocurrent/polygon.png"
                    >
                </div>
                <fa-icon 
                    class="like-icon"
                    matTooltip="Like" 
                    [icon]="icons.heartEmpty" 
                ></fa-icon>
            </div>
        </div>
        <div class="Detail-contract">
            <div class="contract-title" @fadeFromTop>
                <span>Contract</span>
            </div>
            <hr class="contract-hr">
            <div class="contract-content">
                <div class="contract-address" @fadeFromTop>
                    <span>
                        Contract address: 
                    </span>
                    <a href="{{ contractObject.contract_address | linkNFTAddr }}" target="_blank">{{ contractObject.contract_address | addrTrimFromCenter }}</a>
                </div>
                <div class="contract-name" @fadeFromTop>
                    <span>
                        Contract name:
                    </span>
                    <span>
                        {{contractObject.contract_name}}
                    </span>
                </div>
                <div class="contract-symbol" @fadeFromTop>
                    <span>
                        Contract symbol:
                    </span>
                    <span>
                        {{contractObject.contract_symbol}}
                    </span>
                </div>
                <div class="contract-type" @fadeFromTop>
                    <span>
                        Contract type:
                    </span>
                    <span>
                        {{contractObject.contract_type}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="Detail-right">
        <div class="Detail-content">
            <div class="NFT-name">
                <span @fadeFromBottom class="NFT-title">{{ detailContent.NFTName }}</span>
            </div>
            <div class="NFT-owner" @fadeFromBottom>
                <span>Owned by:</span>&nbsp;
                <a href="{{ detailContent.NFTOwned | linkNFTAddr }}" target="_blank" [ngClass]="{'inactiveLink' : detailContent.NFTOwned === NO_DATA_STRING}">{{ detailContent.NFTOwned | addrTrimFromCenter }}</a>
            </div>
            <hr class="description-hr-top">
            <div class="NFT-description" @fadeFromBottom>
                <p>{{ detailContent.NFTDescription }}</p>
            </div>
            <hr class="description-hr-bottom">
        </div>
        <div class="NFT-Pricesale">
            <div class="current-sale">
                <app-price-sale [priceObect]="priceSaleData?.last">
                    Last sale price
                </app-price-sale>
                <app-price-sale [priceObect]="priceSaleData?.average">
                    Average price
                </app-price-sale>
            </div>
        </div>
        <div class="NFT-transaction">
            <div 
                class="transactions-table"
                infiniteScroll
                [infiniteScrollDistance]=".1"
                [infiniteScrollThrottle]="300"
                [immediateCheck]="true"
                (scrolled)="onTransactionsReachBottom()"
                [scrollWindow]="false"
            >
                <table mat-table 
                       [dataSource]="transactionSource"
                >
                    <ng-container matColumnDef="transaction-event">
                        <th mat-header-cell *matHeaderCellDef>Event</th>
                        <td mat-cell *matCellDef="let transaction">
                            <fa-icon
                                matTooltip="{{ transaction.event | titlecase }}"
                                [matTooltipPosition]="'left'" 
                                class="transaction-icon" 
                                [icon]="transaction.eventIcon" 
                            ></fa-icon> 
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="transaction-price">
                        <th mat-header-cell *matHeaderCellDef>Price</th>
                        <td mat-cell *matCellDef="let transaction">
                            <fa-icon
                                *ngIf="transaction?.price"
                                matTooltip="{{ chainTypes.ethereum | titlecase }}"
                                [matTooltipPosition]="'left'" 
                                [icon]="icons.ethereum" 
                            ></fa-icon>
                            {{ transaction?.price }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="transaction-from">
                        <th mat-header-cell *matHeaderCellDef>From</th>
                        <td mat-cell *matCellDef="let transaction">
                            <a 
                                href="{{ transaction?.from | linkNFTAddr }}" 
                                target="_blank" 
                                *ngIf="transaction?.from">
                                {{ transaction?.from | addrCutFromHead | uppercase }}
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="transaction-to">
                        <th mat-header-cell *matHeaderCellDef>To</th>
                        <td mat-cell *matCellDef="let transaction">
                             <a 
                                href="{{ transaction?.to | linkNFTAddr }}" 
                                target="_blank" 
                                *ngIf="transaction?.to">
                                {{ transaction?.to | addrCutFromHead | uppercase }}
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="transaction-date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell *matCellDef="let transaction"> {{ transaction?.date | timeago }} </td>
                    </ng-container>
                    <tr mat-header-row 
                        *matHeaderRowDef="transactionColums; sticky: true"
                    ></tr>
                    <tr mat-row 
                        *matRowDef="let transaction; columns: transactionColums;">
                    </tr>
                    <tr class="mat-row-no-data" *matNoDataRow>
                        <td class="mat-cell" colspan="100%">{{ isTransactionLoadFail.errorMsg | titlecase }}</td>
                    </tr>
                </table>
                <mat-spinner 
                    *ngIf="isTransactionLoading"
                    [diameter]="20"
                ></mat-spinner>
            </div>
        </div>
    </div>
</div>