@import 'styles.scss';

.gallery-hover-container {
    display: flex;
    flex-flow: row-reverse;
    height: 100%;
    width: 100%;

    .card {
        height: 336px;
        width: 304px; 
        background-color: transparent;
        transition: 0.4s ease-out;
        position: relative;
        right: 0px;
        cursor: pointer;
        
        &:not(:first-child) {
            margin-right: -250px;
        }
        
        &:hover {
            transform: scale(1.05);
            transition: .4s ease-out;
            z-index: 10;
        }
        
        &:hover ~ .card {
            position: relative;
            transition: .4s ease-out;
        }
    }
}