<div class="home-container">
    <div class="home-header-item">
        <app-header></app-header>
    </div>
    <div class="home-menu-item">
        <app-menu></app-menu>
    </div>
    <div class="home-main-item">
        <ng-container *ngIf="(NFTSearchCards$ | async)?.length">
            <div class="NFT-search-container">
                <ng-container *ngFor="let NFTSearchCard of NFTSearchCards$ | async">
                    <app-nftcard [cardObj]="NFTSearchCard"></app-nftcard>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <div class="home-footer-item">
        <app-footer></app-footer>
    </div>
</div>