<div class="home-container">
    <div class="home-header-item">
        <app-header></app-header>
    </div>
    <div class="home-menu-item" *ngIf="(UIType$ | async) === UITypes.searching">
        <app-menu></app-menu>
    </div>
    <div 
        class="home-main-item"
        infiniteScroll
        [infiniteScrollDistance]="scrollDownDistance"
        [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="scrollThrottle"
        [immediateCheck]="true"
        (scrolled)="onScrollDown$.next($event)"
        (scrolledUp)="onScrollUp()"   
    >
        <ng-container [ngSwitch]="(UIType$ | async)">
            <app-searching *ngSwitchCase="UITypes.searching"></app-searching>
            <app-nftdtail *ngSwitchCase="UITypes.NFTDetail"></app-nftdtail>
        </ng-container>
    </div>
    <div class="home-footer-item">
        <app-footer></app-footer>
    </div>
</div>