@import '../../core/sass/styles.scss';

.home-header-item { 
    grid-area: header;
    background-color: $defaultbackgroundColor;
}
.home-menu-item { 
    grid-area: menu;
    background-color: $defaultbackgroundColor; 
}
.home-main-item { 
    grid-area: main; 
    background-color: $defaultMainContentColor;
    min-height: 2048px;
    padding: 1rem 2rem;

    .NFT-search-container {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }
}
.home-footer-item { 
    grid-area: footer; 
    background-color: $defaultbackgroundColor;
}
.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
    grid-template-areas: 
        'header header header header header header'
        'menu   main   main   main   main   main'
        'footer footer footer footer footer footer';
}