@import 'styles.scss';

$rowHeight: 2rem;

.filter-expend {
  height: auto !important;
}

.menu-container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background: transparent;
    @extend %box-shadow-default;
    
    padding: 12.5rem 20px;
    position: fixed;
    top: 0;
    color: white;
    margin-top: 68px;
    overflow: hidden;
    transition: all .3 ease-in-out;

    @include respond-below(sm) {
      height: 3.5rem;
      max-height: 15rem;
      width: 100%;
      padding: 1rem;
      @include defaultGradientBackground;
      top: 1.2rem;
      z-index: 10;

      .search-filter-wrapper {

        .search-filter-title {
          .filter-icon {
            display: inline !important;
          }
        }

        .search-input-container {
          margin-top: 1rem;
        }

      }
    }

    .search-filter-wrapper {
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        transition: all .3s ease-in-out;

        .search-filter-title {
          display: block;

            span {
              display: inline;
              font-size: 1.5rem;
              margin-bottom: 5px;
            };

            .filter-icon {
              font-size: x-large;
              float: right;
              top: 0;
              cursor: pointer;
              display: none;
            }
        }

        .search-input-container {
            .search-input-app {
                width: 100%;
            }
        }

        .search-filter-form {
            display: flex;
            flex-flow: column nowrap;

            mat-button-toggle-group {
              height: 2rem;
              width: 100%;
              align-items: center;
              background: $defaultMainContentColor;
              font-weight: 500;

              mat-button-toggle {
                width: 100%;
              }
            }

            .filter-chain-title {
                margin-top: 5px;
            }

            .filter-chain-radios {
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
            }

            .filter-orderBy-title {

            }

            .filter-orderBy-radios {
                display: flex;
                flex-flow: row nowrap;
            }
        }

    }
}
