<div class="menu-container" [ngClass]="{'filter-expend': isExpend}">
    <div class="search-filter-wrapper">
        <div class="search-filter-title">
            <span>Filter</span>
            <fa-icon class="filter-icon" [icon]="icons.stack" (click)="onclickStackIcon()"></fa-icon>
        </div>
        <div class="search-input-container">
            <div class="search-input-title">
                <span>Search</span>
            </div>
            <div class="search-input-app">
                <app-search [isOnHeader]="false"></app-search>
            </div>
        </div>
        <form [formGroup]="filterForm" class="search-filter-form" novalidate>
            <div class="filter-chain-title">
                <span>Chain</span>
            </div>
            <div class="filter-chain-radios">
              <mat-button-toggle-group
                formControlName="selectedChainType"
                name="selectedChainType"
                [value]="filterForm.get('selectedChainType')?.value"
              >
                <ng-container *ngFor="let chainType of chainTypes">
                  <mat-button-toggle [value]="chainType">
                    {{ chainType | titlecase }}
                  </mat-button-toggle>
                </ng-container>
              </mat-button-toggle-group>
            </div>
            <div class="filter-orderBy-title">
                <span>Order By</span>
            </div>
            <div class="filter-orderBy-radios">
              <mat-button-toggle-group
                formControlName="selectedOrderBy"
                name="selectedOrderBy"
                [value]="filterForm.get('selectedOrderBy')?.value"
              >
                <ng-container *ngFor="let orderType of orderTypes">
                  <mat-button-toggle [value]="orderType">
                    {{ orderType | titlecase }}
                  </mat-button-toggle>
                </ng-container>
              </mat-button-toggle-group>
            </div>
        </form>
    </div>
</div>
