@import 'styles.scss';

$rowHeight: 2rem;

.menu-container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background: transparent;
    @include box-shadow-default;
    @include main-font-family;
    padding: 12.5rem 20px;
    position: fixed;
    top: 0;
    color: white;
    margin-top: 68px;

    @include respond-below(sm) {
      height: 3.5rem;
      weight: 100%;
      padding: 1rem;
      position: relative;
      top: 1.2rem;

      .search-filter-wrapper {
        flex-flow: row wrap;
        overflow: hidden;

        .search-filter-title {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          .filter-icon {
            display: block;
          }
        }

      }
    }

    .search-input-container {
        .search-input-app {
            width: 100%;
        }
    }

    .search-filter-wrapper {
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        transition: all .3s ease-in-out;

        .search-filter-title {

            span {
                display: block;
                font-size: 1.5rem;
                margin-bottom: 5px;
            };

            .filter-icon {
              font-size: x-large;
              display: none;
            }
        }

        .search-filter-form {
            display: flex;
            flex-flow: column nowrap;

            input[type="radio"] {
                display: none;
                &:checked + .button {
                    background: #5e7380;
                    color: #fff;
                    cursor: default;
                }
            }

            .button {
                display: inline-block;
                margin: 0 5px 10px 0;
                padding: 3px 5px;
                background: #f7f7f7;
                cursor: pointer;
                transition:  all .1s ease-in-out;

                &:hover {
                    background: #bbb;
                    color: #fff;
                }

                .round {
                    border-radius: 5px;
                }
            }

            .filter-chain-title {
                margin-top: 5px;
            }

            .filter-chain-radios {
                display: flex;
                flex-flow: row nowrap;
            }

            .filter-orderBy-title {

            }

            .filter-orderBy-radios {
                display: flex;
                flex-flow: row nowrap;
            }
        }

    }
}
