<div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel">
        <div class="card-container" id="slider" tabindex="0" #slider>
          <ng-container *ngFor="let nft of nftArray">
            <div class="card" #card>
                <app-nftpreview 
                  [NFTDetailObject]="nft" 
                  [isTitleMaskShown]="true" 
                  [isClickable]="true"
                ></app-nftpreview>
            </div>
          </ng-container>
        </div>
        <button class="slider-control arrow-left" [ngClass]="{'hide': !arrowSide }" #prev>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <polyline points="15 6 9 12 15 18"></polyline>
            </svg>     
       </button>
       <button class="slider-control arrow-right" [ngClass]="{'hide': arrowSide }" #next>
         <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <polyline points="9 6 15 12 9 18"></polyline>
            </svg>
       </button>
      </div>
    </div>
  </div>