@import 'styles.scss';

.carousel-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
  
    .carousel-wrapper {
      width: 100%;
      height: auto;
      margin: 0 auto;

      .carousel {
        width: 100%;
        height: auto;
        position: relative;
        
        .card-container {
          display: flex;
          flex-flow: row nowrap;
          width: auto;
          max-width: none;
          padding: 15px 5px;
          overflow-x: hidden;
          align-items: stretch;
          touch-action: pan-x;
          border-radius: 4px;
          justify-content: flex-start;

          .card {
            display: inline-flex;
            min-width: 25%;
            height: auto;
            margin-right: 20px;
            align-items: center;
            justify-content: center;
            padding: 0;
            transition: .2s ease-in-out;

            &:hover {
              transform: scale(1.03);
              cursor: pointer;
            }

            &:last-child {
              margin-right: 0;
            }

            @include respond-above(xs) {
              min-width: calc(100% - 10px);
            }

            @include respond-above(sm) {
              min-width: calc(50% - 10px);
            }

            @include respond-above(md) {
              min-width: calc(33.3333333333% - 13.3333333333px);
            }

            @include respond-above(lg) {
              min-width: calc(25% - 15px);
            }
          }
        }
        
        .slider-control {
          display: inline-flex;
          width: 40px;
          height: 40px;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          background-color: white;
          border: none;
          border-radius: 999px;
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          transition: box-shadow .12s ease;
          
          &.arrow-right {
            right: 0;
            transform: translate(50%, -50%);
          }
          
          &.arrow-left {
            left: 0;
            transform: translate(-50%, -50%);
          }
          
          &:not(:disabled) {
            cursor: pointer;
            
            &:hover, &:focus {
              box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            
            &:active {
              background-color: #f1f1f1;
            }
          }
          
          &:disabled {
            cursor: not-allowed;
          }
          
          &.hide {
            display: none;
          }
        }
      }
    }
  }
  