$breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

$primaryColor: #192740;
$secondaryColor: #EDF2F3;
$buleGray: #1E2C57;
$babyBlue: #C3E0E5;

$defaultbackgroundColor: black;
$defaultborderColor: #3E3E3E;
$defaultMainContentColor: $secondaryColor;

$borderRadius: 10px;
