$breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

$primaryColor: white;
$secondaryColor: white;
$buleGray: #ffffff;
$babyBlue: #C3E0E5;

$defaultbackgroundColor: black;
$defaultborderColor: #3E3E3E;
$defaultMainContentColor: $secondaryColor;
$defaultMainContentMaxWidth: 64rem;

$borderRadius: 10px;

