@import 'styles.scss';

.search-wrapper {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
    transition: all 0.3s;
}

.search-on-header {

    .search-input[type=text] {
        @include main-font-family;
        border: 2px solid $defaultborderColor;
        border-radius: 30px;
        background: transparent;
        padding: 0.4rem 2.3rem;
        color: gainsboro;
        width: 10rem;
    }
    .search-icon {
        position: absolute;
        margin-left: 15px;
        margin-top: 8px;
        color: $defaultborderColor;
    }

    .scrolled-icon {
        color: whitesmoke;
    }

    .scrolled-input {
        border: 1px solid whitesmoke !important;
        color: whitesmoke;
    }
}

.search-on-menu {
    .search-input[type=text] {
        @include main-font-family;
        background: url('../../../../assets/image/commons/Search.png') no-repeat left;
        background-size: 13px;
        border: none;
        padding: 0 20px;
        margin: 5px 0;
        color: white;
        width: 100%;
        
        &::placeholder {
          color: white;
        }
        &:focus{
            outline: none;
        }
    }
    .search-icon {
        display: none;
    }
}
