@import 'styles.scss';

.search-wrapper {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
    transition: all 0.4s;

    &:hover {
        transform: scale(1.1);
    }

    .search-input[type=text] {
        @include main-font-family;
        border: 1px solid $defaultborderColor;
        border-radius: 30px;
        background: transparent;
        padding: 0.4rem 2.3rem;
        color: gainsboro;
        width: 10rem;
        &:hover {
            @include main-bg-gra-color;
        }
    }
    .search-icon {
        position: absolute;
        margin-left: 15px;
        margin-top: 8px;
        color: $defaultborderColor;
    }
}